HolidayReservationSystemJavaSeClient/xml-resources/web-service-references/HolidayReservationSystemWebService/wsdl/localhost_8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="viewFlightReservations">
<part name="parameters" element="tns:viewFlightReservations"/>
</message>
<message name="viewFlightReservationsResponse">
<part name="parameters" element="tns:viewFlightReservationsResponse"/>
</message>
<message name="viewFlightReservationDetails">
<part name="parameters" element="tns:viewFlightReservationDetails"/>
</message>
<message name="viewFlightReservationDetailsResponse">
<part name="parameters" element="tns:viewFlightReservationDetailsResponse"/>
</message>
<portType name="HolidayReservationSystemWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewFlightReservations">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/viewFlightReservationsRequest" message="tns:viewFlightReservations"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/viewFlightReservationsResponse" message="tns:viewFlightReservationsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/viewFlightReservations/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewFlightReservationDetails">
<input wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/viewFlightReservationDetailsRequest" message="tns:viewFlightReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/viewFlightReservationDetailsResponse" message="tns:viewFlightReservationDetailsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayReservationSystemWebService/viewFlightReservationDetails/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="HolidayReservationSystemWebServicePortBinding" type="tns:HolidayReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewFlightReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewFlightReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HolidayReservationSystemWebService">
<port name="HolidayReservationSystemWebServicePort" binding="tns:HolidayReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService"/>
</port>
</service>
</definitions>